body {
    background-image: url("");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

#formincenter{

     background-color : red;
     width: 1000px;
     height : 1000px;
}
.outside
{
    background-color : blue;
}
#inside
{
    background-color : red;
    color : pink;
}
