<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>khojo</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css2/style.css' %}" />
</head>
<body>
<h1 ><center><font color="blue" face = "verdana" size = 80px  ><b>KhOjO</b></font> </center></h1>
        <div class="col-sm-12 col-md-7" align="center" id="formincenter">
        	<div class="panel apnel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action = "" method="post" enctype="multipart/form-data" size="35">
	                    {% csrf_token %}

	                    {% include 'form-template.html' %}
          		        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload</button>

                   </form>
                    <br>
                    <a href="result"><button>Results</button></a>
               </div>
            </div>
        </div>
</body>
</html>